# Advanced Querying Mongo

Importing libraries and setting up connection

In [3]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost/companies")
#client = MongoClient('localhost', 27017) # Default connection params
#client = MongoClient('mongodb://localhost:27017') # Mongourl style

db = client.get_database()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [4]:
# Your Code
cursor_1 = db.companies.find({"name": "Babelgum"},{"item": 1, "name": 1, "_id": 0})
list(cursor_1)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [8]:
# Your Code
query_2 = {"number_of_employees": {"$gt": 5000}}
cursor_2 = db['companies'].find(query_2).sort([("number_of_employees", 1)]).limit(20)
len(list(cursor_2))

20

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [9]:
# Your Code

query_3 = {'founded_year':{'$gt':2000,'$lte':2005}}
cursor_3 = db['companies'].find(query_3,{"item": 1, "name": 1, "_id": 0})
len(list(cursor_3))

3213

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [10]:
# Your Code
query_4 = {"ipo.valuation_amount" : {'$gt': 100000000},'founded_year': {'$lt': 2010}}
cursor_4 = db['companies'].find(query_4,{"item": 1, "name": 1, "ipo":1,"_id": 0})
len(list(cursor_4))

42

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [21]:
# Your Code
query_5 = {"number_of_employees" : {'$lt': 1000},'founded_year': {'$lt': 2005}}
cursor_5 = db['companies'].find(query_5).sort([("number_of_employees", 1)]).limit(10)
len(list(cursor_5))

10

### 6. All the companies that don't include the `partners` field.

In [25]:
# Your Code
query_6 = {'partners': { '$exists': True, '$not': {'$size': 0} } }
cursor_6 = db['companies'].find(query_6)
len(list(cursor_6))

154

### 7. All the companies that have a null type of value on the `category_code` field.

In [39]:
# Your Code
query_7 = {'category_code': {'$eq': None} }
cursor_7 = db['companies'].find(query_7)
len(list(cursor_7))

2751

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [41]:
# Your Code
query_8 = {'number_of_employees': {'$gte': 100,'$lt':1000 }}
cursor_8 = db['companies'].find(query_8, {"item": 1, "name": 1, "number_of_employees":1,"_id": 0})
len(list(cursor_8))

917

### 9. Order all the companies by their IPO price in a descending order.

In [46]:
# Your Code
query_9 = {"ipo.valuation_amount": {'$exists': True}}
cursor_9 = db['companies'].find(query_9).sort([("ipo.valuation_amount",-1)])
len(list(cursor_9))

390

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [49]:
# Your Code
query_10 = {"number_of_employees": {'$exists': True}}
cursor_10 = db['companies'].find(query_10).sort([("number_of_employees",1)]).limit(10)
len(list(cursor_10))

10

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [51]:
# Your Code
query_11 = {"founded_month": {'$gte':7 ,'$lte':12}}
cursor_11 = db['companies'].find(query_11).sort([("number_of_employees",1)]).limit(1000)
len(list(cursor_11))

1000

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [56]:
# Your Code
query_12 = {"founded_year": {'$lt':2000},"acquisition.price_amount":{'$gt':1000000}}
cursor_12 = db['companies'].find(query_12)
len(list(cursor_12))

224

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [64]:
# Your Code
query_13 = {"acquisition.acquired_year": {'$gt':2010}}
cursor_13 = db['companies'].find(query_13, {"item": 1, "name": 1, "acquisition":1,"_id": 0}).sort([("acquisition.price_amount",1)])
len(list(cursor_13))

736

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [65]:
# Your Code
query_14 = {"founded_year": { '$exists': True, '$not': {'$size': 0} }}
cursor_14 = db['companies'].find(query_14, {"item": 1, "name": 1, "acquisition":1,"_id": 0}).sort([("founded_year",1)]).limit(100)
len(list(cursor_14))

100

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [69]:
# Your Code
query_15 = {"founded_day": {'$lte': 7}}
cursor_15 = db['companies'].find(query_15).sort([("acquisition.price_amount",1)]).limit(10)
len(list(cursor_15))

10

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [75]:
# Your Code
query_16 = {'category_code': {'$eq': 'web'}, 'number_of_employees':{'$gt': 4000}}
cursor_16 = db['companies'].find(query_16).sort([("number_of_employees",1)])
len(list(cursor_16))

9

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [77]:
# Your Code
query_17 = {"acquisition.price_amount": {'$gt': 10000000}, 'acquisition.price_currency_code': {'$eq': 'USD'}}
cursor_17 = db['companies'].find(query_17)
len(list(cursor_17))

675

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [82]:
# Your Code
query_18 = {"acquisition.acquired_month": {'$lte': 3}}
cursor_18 = db['companies'].find(query_18, {"item": 1, "name": 1, "acquisition":1,"_id": 0}).limit(10)
len(list(cursor_18))

10

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [83]:
# Your Code
query_19 = {"founded_year": {'$gte':2000 ,'$lte':2010},'acquisition.acquired_year': {'$gt': 2011 }}
cursor_19 = db['companies'].find(query_19)
len(list(cursor_19))

274

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code